body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.container {
    width: 100%;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    table-layout: fixed;
}

th, td {
    padding: 1rem;
    border: 1px solid #ddd;
    text-align: left;
    word-wrap: break-word;
}

th {
    background-color: #007bff;
    color: white;
}

th, td:nth-child(1) {
    width: 5%;
}

th, td:nth-child(2),
th, td:nth-child(3),
th, td:nth-child(4),
th, td:nth-child(5) {
    width: 15%;
}

th, td:nth-child(6) {
    width: 35%;
}

.comment-button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#commentModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 1000;
}

#commentModal form {
    display: flex;
    flex-direction: column;
}

#commentModal textarea {
    margin-bottom: 1rem;
}

#commentModal button {
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}

#closeModal {
    background-color: red;
    color: white;
}
