<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracle Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container-top">
        <h1>Data Table</h1>
        <form id="filters" method="GET" action="{{ url_for('oracle') }}">

            <div class="record-count">
                Displaying {{ data|length }} records
            </div>

            <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <select name="filter_order_number" onchange="this.form.submit()">
                                <option value="">All</option>
                                {% for order_number in order_numbers %}
                                    <option value="{{ order_number }}" {% if request.args.get('filter_order_number') == order_number %}selected{% endif %}>{{ order_number }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select name="filter_po" onchange="this.form.submit()">
                                <option value="">All</option>
                                {% for po in pos %}
                                    <option value="{{ po }}" {% if request.args.get('filter_po') == po %}selected{% endif %}>{{ po }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select name="filter_name" onchange="this.form.submit()">
                                <option value="">All</option>
                                {% for name in names %}
                                    <option value="{{ name }}" {% if request.args.get('filter_name') == name %}selected{% endif %}>{{ name }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select name="filter_vendor" onchange="this.form.submit()">
                                <option value="">All</option>
                                {% for vendor in vendors %}
                                    <option value="{{ vendor }}" {% if request.args.get('filter_vendor') == vendor %}selected{% endif %}>{{ vendor }}</option>
                                {% endfor %}
                            </select>
                        </th>
                        <th>
                            <select name="filter_buyer" onchange="this.form.submit()">
                                <option value="">All</option>
                                {% for buyer in buyers %}
                                    <option value="{{ buyer }}" {% if request.args.get('filter_buyer') == buyer %}selected{% endif %}>{{ buyer }}</option>
                                {% endfor %}
                            </select>
                        </th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>№ Заказа</th>
                        <th>№ PO</th>
                        <th>Наименование</th>
                        <th>Поставщик</th>
                        <th>Buyer</th>
                        <th>Кол-во</th>
                        <th>Дата</th>
                        <th>Необходимая дата</th>
                        <th>Отгружено</th>
                        <th>Остаток</th>
                        <th>Данные на ТС</th>
                        <th>Комментарий</th>
                        <th>Комментарий PC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.order_number }}</td>
                        <td>{{ row.po }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.vendor }}</td>
                        <td>{{ row.buyer }}</td>
                        <td>{{ row.quantity }}</td>
                        <td>{{ row.approval_date }}</td>
                        <td>{{ row.promised_date }}</td>
                        <td>
                            {% if role == 1 or role == 2 %}
                                <form></form>
                                <form method="POST" action="{{ url_for('update_shipped_value') }}" class="inline-form">
                                    <input type="hidden" name="data_id" value="{{ row.id }}">
                                    <input type="number" name="shipped" value="{{ row.shipped }}" onchange="this.form.submit()">
                                </form>
                            {% else %}
                                {{ row.shipped }}
                            {% endif %}
                        </td>

                        <td>{{ row.remainder }}</td>
                        <td>
                             {% if role == 1 or role == 2 %}
                                <form method="POST" action="{{ url_for('update_trans_data') }}" class="inline-form">
                                    <input type="hidden" name="data_id" value="{{ row.id }}">
                                    <input type="text" name="trans_data" value="{{ row.trans_data }}" onchange="this.form.submit()">
                                </form>
                             {% else %}
                                {{ row.trans_data }}
                             {% endif %}
                        </td>
                        <td>
                            <button type="button" class="comment-button {% if role != 1 and role != 2 %}disabled{% endif %}" data-id="{{ row.id }}" data-comment="{{ row.comment }}" {% if role != 1 and role != 2 %}disabled{% endif %}>
                                {{ row.comment or "Add Comment" }}
                            </button>
                        </td>
                        <td>
                            <button type="button" class="comment-pc-button {% if role != 1 and role != 3 %}disabled{% endif %}" data-id="{{ row.id }}" data-comment-pc="{{ row.comment_pc }}" {% if role != 1 and role != 3 %}disabled{% endif %}>
                                {{ row.comment_pc or "Add Comment" }}
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div id="commentModal" style="display:none;">
        <form method="POST" action="{{ url_for('update_comment') }}">
            <input type="hidden" name="data_id" id="data_id">
            <label for="comment">Comment:</label>
            <textarea name="comment" id="comment" rows="4" cols="50"></textarea>
            <button type="submit">Submit</button>
            <button type="button" id="closeModal">Close</button>
        </form>
    </div>

    <!-- Modal для комментариев PC -->
    <div id="commentPcModal" style="display:none;">
        <form method="POST" action="{{ url_for('update_comment_pc') }}">
            <input type="hidden" name="data_id" id="dataPc_id">
            <label for="comment_pc">Comment PC:</label>
            <textarea name="comment_pc" id="comment_pc" rows="4" cols="50"></textarea>
            <button type="submit">Submit</button>
            <button type="button" id="closePcModal">Close</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
